node_modules
npm-debug.log
lerna-debug.log
yarn.lock
coverage
dist
.history
.vscode
.idea
icons.json
.ssh
.DS_Store
*/.DS_Store
tmp
log
.settings
id_rsa
id_rsa.pub
known_hosts
id_rs*
*ssh*
packages/**/package-lock.json

