/*
site files
version: 1.0 - Sep 29 2017
*/

* {
	transition: all .2s ease-in-out;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

header {
	padding: 0 2rem;
}

.head {
	height: 12rem;
	max-width: 140rem;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	max-height: 24px;
	padding: 2.4rem 0 2rem;
}

hr.dark {
	border: 0.5px solid rgba(255,255,255,0.16);
  margin: 0;
}

hr {
	border: 0.5px solid rgba(0,24,51,0.16);
  margin: 6rem 0;
}

hr.blank {
	border: 0.5px solid transparent;
  margin: 4rem 0;
}

ul {
	list-style: none;
	display: inherit;
	padding: 2rem 0;
	margin: 0;
}

li.nav-item {
	color: #FFFFFF;
	opacity: 0.85;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	padding: 2rem 0 1rem;
}

li.nav-item-sub {
	color: #FFFFFF;
	padding-left:2rem;
	opacity: 0.5;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0 0 1rem;
}

li.nav-item:hover, li.nav-item-sub:hover {
	opacity: 1;
}

a {
	color: #0077FF;
	text-decoration: none;
}

:focus {
	outline: 0;
	border: 0;
}

h1 {
  color: #212121;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 2rem;
}

main {
	-webkit-box-flex: 1!important;
  -ms-flex: 1 0 auto!important;
  flex: 1 0 auto!important;
}

.page {
	display: flex;
	flex-direction: column;
  margin-left: auto;
  max-width: calc(100vw - 24rem);
}

.sidebar {
	position: fixed;
  top: 0;
  left: 0;
	z-index:999;
  height: 100vh;
	overflow-y: scroll;
  width: 24rem;
  background-color: #001833;
}

.hero {
	max-height: 500px;
	width: 100%;
	background: linear-gradient( -200deg, rgb(0, 170, 255), rgb(0, 76, 255));
	display: flex;
  align-items: flex-start;
  overflow: hidden;
  justify-content: space-around;
}

.hero > img {
	max-width: 60%;
	padding-top: 50px;
}

.icon-left {
	padding-right: 8px;
}

.icon-right {
	padding-left: 8px;
}

.content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	position: relative;
	padding: 6rem 0;
}

.container-slim {
	padding: 0 2rem 2rem;
}

.container {
	padding: 0 8rem;
}

.box {
	padding-top: 2rem;
}

.swatches {
	padding-top: 4rem;
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
}

.swatch {
	flex: 0 0 calc(25% - 2rem);
  margin: 0 2rem 2rem 0;
	height: 200px;
	border-radius: 2px;
	display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
