name: Create release on push of tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  create-release:
    # Name the Job
    name: Create release from release branch
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: PNPM cache via actions/cache@v2
        id: pnpm-cache
        uses: actions/cache@v2
        with:
          path: /home/runner/work/design-system/design-system/common/temp/pnpm-store/v3
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: node common/scripts/install-run-rush.js install

      - name: Build components
        run: node common/scripts/install-run-rush.js build

      # TODO generate release markdown
      - name: Create release notes
        run: node common/scripts/install-run-rush.js create-release-notes

      # - name: "Create Release"
      #   uses: softprops/action-gh-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     files: |
      #       ${{ steps.web-ext-sign.outputs.target }}
      #       chrome.zip
